tests/unit/server/src/
tests/unit/client/bin/
tests/unit/server/server

tests/integration/server/src/
tests/integration/client/bin/
tests/integration/server/server

tests/unit.log
tests/integration.log

docs/
examples/9pfs-shell/bin
examples/9p-unix/hello-client
ninenano.a
