[submodule "tests/server/vendor/github.com/Harvey-OS/ninep"]
	path = vendor/ninep
	url = git://github.com/Harvey-OS/ninep.git
[submodule "RIOT"]
	path = vendor/RIOT
	url = git://github.com/RIOT-OS/RIOT.git
